<h2>User info</h2>
  <%= image_tag user.get_profile_image(100,100) %>
  <table class="table">
      <tbody>
        <tr></tr>
        <tr>
        <th>name <%= user.name %></th>
        </tr>
        <tr>
        <th>introduction <%= user.introduction %></th>
        </tr>
     </tbody>
    </table>
     <div class="row">
       <%= link_to edit_user_path(user.id), class: "btn btn-outline-secondary btn-block" do %>
       <i class="fas fa-user-cog"></i>
       <% end %>
     </div>
  <h2>New book</h2>
  <%= form_with model: book do |f| %>
  <h6>Title</h6>
     <%= f.text_field :title %>
   <h6>Opinion</h6>
    <%= f.text_area :body %>
     <p><%= f.submit 'Create Book', class: "btn btn btn-success" %></p>
  <% end %>